<.button href="/svelte/counter" class='bg-orange-500'>LiveSvelte Counter</.button>
<.button href="/svelte/components" class='bg-orange-500'>Flowbite-Svelte Components</.button>

<input phx-hook="Datepicker" id="myInput" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">