<a href="/" ><button class='btn btn-sm variant-filled'>Home</button></a>
<a href="/" data-phx-link="redirect" data-phx-link-state="push"><button class='btn btn-sm variant-filled'>Push Home</button></a>
<!-- .button has navigation= and probably has options for specifying patch vs put -->
<a href="/" data-phx-link="patch" data-phx-link-state="push"><.button>Patch home</.button></a>
