<.svelte name="Timeline">
  <!-- Slots + LiveSvelte is not supported yet, but it works

  Elixir outputs a warning during compilation.
   -->
  <:toast>
  <div class='flex' align-items>

  <.button color='error'>
  <.icon name='hero-exclamation-triangle'/>How about some toast?
  </.button>
  </div>
  </:toast>
</.svelte>
