<.svelte name="Timeline">
  <!-- Slots + LiveSvelte is not supported yet, but it works -->
  <:toast>
  <div class='flex' align-items>
  <.icon name='hero-eye-dropper'/><span>How about some toast?</span>
  </div>
  </:toast>
</.svelte>
