<KantanWeb.AppShell.top current_user={@current_user} />
<KantanWeb.AppShell.leftMenu />

<main class="md:ml-64 pt-16">
  <div class="p-2 h-[calc(100vh-5rem)] overflow-auto">
    <%= @inner_content %>
  </div>
</main>
