<.svelte name="Toast" />
<KantanWeb.AppShell.top current_user={@current_user} />
<KantanWeb.AppShell.left>
  <KantanWeb.AppShell.leftMenu />
  <KantanWeb.AppShell.leftBottomMenu />
</KantanWeb.AppShell.left>

<main class="md:ml-64 pt-20">
  <div class="p-2 h-[calc(100vh-8vh)] overflow-auto scrollbar-hide">
    <%= @inner_content %>
  </div>
</main>
