<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Kantan" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body data-theme="skeleton">
    <header>
      <div class="flex items-center justify-between border-b border-zinc-100">
          <a href={~p"/"}>
            <img src={~p"/images/kantan.svg"} width="45" />
          </a>
<!-- Dark mode selection begin
-->
        <div class="btn-group variant-filled-surface">

        <.button
          phx-click={JS.dispatch("pyro:theme-system")}
        >
          <.icon name="hero-computer-desktop-mini" />
        </.button>
        <.button
          phx-click={JS.dispatch("pyro:theme-dark")}
        >
          <.icon name="hero-moon-mini" />
        </.button>
        <.button
          phx-click={JS.dispatch("pyro:theme-light")}
        >
          <.icon name="hero-sun-mini" />
        </.button>

        </div>
<!-- Dark mode selection end
-->
<div>
          <%= if @current_user do %>
            <span class="px-3 py-2">
              <%= @current_user.email %>
            </span>
            <.button
            class='dark:outline'
            shape='rounded'
              navigate={~p"/sign-out"}
            >
              Sign Out
            </.button>
          <% else %>
            <.button
            class='dark:outline'
            shape='rounded'
              navigate={~p"/sign-in"}
            >
            <.icon name="hero-computer-desktop-mini" />
              Sign In
            </.button>
          <% end %>
</div>
          <!-- Phoenix logo and version -->
        <div >
          <a href="https://www.phoenixframework.org/">
            <img src={~p"/images/phoenix.svg"} width="36" />
          </a>
          <p class="font-medium leading-6 text-xs">
            v<%= Application.spec(:phoenix, :vsn) %>
          </p>
          </div>
      </div>
    </header>
    <%= @inner_content %>
  </body>
</html>
