@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import "./tiptap.css";
@import "./milkdown.css";

@import "./pyro.css";

@import "@milkdown/prose/lib/style/prosemirror.css";

/* Ash Authentication */
.error-messages {
  @apply text-error-500 italic;
}

html { @apply antialiased h-screen; }

/*
body {
  background-image:
    radial-gradient(at 0% 0%, rgba(var(--color-secondary-500) / 0.33) 0px, transparent 50%),
    radial-gradient(at 98% 1%, rgba(var(--color-error-500) / 0.33) 0px, transparent 50%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/
